<h1 > Sign up </h1>

<%# binding.pry %>
  
<%= form_with(model: @customer, local: true) do |form| %>

    <div > 
      <%= form.label :name %><br>
      <%= form.text_field :name,placeholder:"raghav" %>
    </div>
    <div>
       <%= form.label :email %><br>
       <%= form.text_field :email,placeholder:"raghav@gmail.com" %>
    </div>

    <div>
    	<%= form.label :password %><br>
        <%= form.text_field :password,placeholder:"password" %>
    </div>

    <div>
      <%= form.submit "Create my account" %>
    </div>

<% end %>
